<!DOCTYPE html>
<html>
  <head>
	<title>Blog Deleted</title>
	<script defer src="/fontawesome/js/all.js"></script>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/fontawesome/css/all.css" />
  </head>
  <body>
	<% include ./partials/nav %>	
	<div class="card">
		<h5 class="card-header">Are you sure you want to delete me?</h5>
		<div class="card-body">
		  <h5 class="card-title"><%=blog.blogTitle%></h5>
		  <p class="card-text"><%=blog.blogText%></p>
		</div>
		<h6 class="card-footer">
			<ul class="nav nav-pills" >
				<li class="nav-item">
					<a class="nav-link" href="/blogEdit/<%=blog._id%>"> <i class="far fa-edit fa-lg"></i></a>
				</li>
				<li class="nav-item">
					<form action="/blogDelete/<%=blog._id%>" method="DELETE">
						<botton type="submit" class="btn btn-primary">Yes</botton>
					</form>
				</li>
			</ul>
		</h6>
	  </div>
</body>
<script src='/javascripts/jquery-3.5.1.min.js'></script>
<script src='bootstrap/js/bootstrap.min.js'></script>
</html>
