<!DOCTYPE html>
<html>
  <head>
    <title>Blog Add</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div class="container">
		<% include ./partials/nav %>
		<p></p>
    	<h4>Add a blog here!</h4>
    	<form action="/blogAdd" method="POST">
			<div class="form-group">
				<label for="blogTitle">Blog title</label>
				<textarea class="form-control" id="title" name="blogTitle" placeholder="Enter your blog title here"></textarea>
			</div>
			<div class="form-group">
				<label for="blogText">Start here!</label>
				<textarea class="form-control" id="text" rows="3" name="blogText" placeholder="Start your blog here"></textarea>
			</div>
			<a role="button" class="btn btn-primary float-right" href="/blog-list" value="Cancel">Cancel</a>
			<button type="submit" class="btn btn-primary">Add my blog</button>
    	</form>
	</div>
</body>
<script src='/javascripts/jquery-3.5.1.min.js'></script>
<script src='bootstrap/js/bootstrap.min.js'></script>
</html>
