<!DOCTYPE html>
<html>
  <head>
	<title>Blog Deleted</title>
	<script defer src="/fontawesome/js/all.js"></script>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/fontawesome/css/all.css" />
  </head>
  <body>
	<% include ./partials/nav %>
		<h3>Are you sure?</h3>
		<form action="/blogDelete/<%=blog._id%>" method="POST">
		<ul>
			<li> <strong> YES:</strong></li>	
			<input type="button" value="DELETE ME"/>
			<li> <strong> <a href='/blog-list/'>NO:</a></strong></li>
			<input type="button" name="decision" value="No" checked="checked"/>
		</ul>
		</form>

</body>
<script src='/javascripts/jquery-3.5.1.min.js'></script>
<script src='bootstrap/js/bootstrap.min.js'></script>
</html>
