<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Blog Site</title>
    
	<link rel='stylesheet' href='/introspect/css/font-awesome.min.css'/>
	<meta name='viewport', content='width=device-width, intial-scale=1.0'/>
  </head>
  <body>
	<div class="container">
		<% include ./partials/nav %>
    	<h1><%= title %> Blog Site</h1>
    	<p>Welcome to <%= title %>'s blog site!</p>
		<p> <a href='/blog'> click this shit!</a></p>
	</div>
</body>
<script src='/javascripts/jquery-3.5.1.min.js'></script>
<script src='bootstrap/js/bootstrap.min.js'></script>
</html>
